.header.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app-description, .food-image {
    flex: 1;
}

.app-description {
    padding: 20px 10% 20px 10%;
    line-height: 1.5rem;
}

.app-description h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 40px;
    /* word-wrap: no-wrap; */
}

.app-description p {
    font-size: 1.5rem;
}

.category-link {
    display: block;
    width: fit-content;
    text-decoration: none;
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
    margin-top: 120px;
}

i {
    font-size: 1rem;
    margin-left: 8px;
}

.food-image {
    /* width: 600px; */
    margin-right: 80px;
}

.food-image .card img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}