footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 50px;
    /* margin: 0 auto; */
}

.footer .logo, .footer .socials-container, .footer .copyright {
    flex: 1;
}

footer .logo img {
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

footer .copyright {
    align-self: flex-end;
    padding: 10px 20px;
}